<div class="w-full -mb-55">
  <div
    x-data="{ 
            activeImage: 0,
            images: [
                '/store/shoes/airmax/1.png',
                '/store/shoes/airmax/2.png',
                '/store/shoes/airmax/3.png',
                '/store/shoes/airmax/4.png',
                '/store/shoes/airmax/5.png',
                '/store/shoes/airmax/6.png'
            ]
        }"
    class="flex flex-col order-first gap-2 lg:order-none"
  >
    <!-- Main Image -->
    <div class="overflow-hidden bg-white rounded-lg aspect-square">
      <img
        :src="images[activeImage]"
        class="object-cover size-full aspect-square"
        alt="Product image"
      />
    </div>
    <!-- Thumbnails -->
    <div class="order-first w-full grid grid-cols-6 gap-2">
      <template x-for="(image, index) in images" :key="index">
        <button
          @click="activeImage = index"
          :class="{'ring-2 ring-zinc-300 ': activeImage === index}"
          class="overflow-hidden bg-white rounded-lg size-full aspect-square"
        >
          <img
            :src="image"
            class="object-cover size-full aspect-square"
            alt="Product thumbnail"
          />
        </button>
      </template>
    </div>
  </div>
</div>
