---
// Assets
import { Image } from "astro:assets";
import MarketingImage from "@/images/assets/marketing.png";
import Logo from "@/components/assets/Logo.astro";
---

<div aria-hidden="true" class="-mb-12">
  <div class="w-full p-2 bg-white rounded-lg">
    <div class="flex items-center justify-between w-full gap-1">
      <Logo class="text-blue-500 size-3" />
      <a
        href="/login"
        class="flex items-center justify-center text-center shadow-subtle duration-500 ease-in-out transition-colors focus:outline-2 focus:outline-offset-2 text-white bg-blue-500 hover:bg-blue-600 focus:outline-blue-600 h-3 px-1 py-0.5 text-[0.40rem] rounded-xs"
        >Sign in
      </a>
    </div>
    <p
      class="text-[0.65rem] text-center font-medium text-balance w-48 mx-auto mt-4 text-zinc-900"
    >
      Components and UI Blocks crafted with Tailwind CSS
    </p>
    <p
      class="text-[0.45rem] text-center text-balance w-38 mx-auto text-zinc-500"
    >
      Explore over 400 high-quality, responsive UI components and blocks.
    </p>
    <div class="w-full p-1">
      <Image
        src={MarketingImage}
        width={500}
        height={500}
        alt="marketing hero"
        class="w-full"
        class="w-full mt-2 rounded group-hover:-translate-y-2 duration-500"
      />
    </div>
  </div>
</div>
