

@theme {

    * Gradients stripes vertical */
  --background-image-base-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-base-800) 0px,
    var(--color-base-800) 1px,
    transparent 1px,
    transparent 8px
  );
 
  --background-image-accent-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-accent-500) 0px,
    var(--color-accent-500) 1px,
    transparent 1px,
    transparent 8px
  );
  --background-image-light-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-base-200) 0px,
    var(--color-base-200) 1px,
    transparent 1px,
    transparent 8px
  );
  /* Gradients stripes horizontal */
--background-image-base-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-base-800) 0px,
    var(--color-base-800) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-secondary-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-secondary-400) 0px,
    var(--color-secondary-400) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-accent-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-accent-500) 0px,
    var(--color-accent-500) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-light-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-base-200) 0px,
    var(--color-base-200) 1px,
    transparent 1px,
    transparent 8px
  );
}

/* Complex backgrodund Gradients */
.bg-meshLightBlue {
    background-color: hsla(161, 77%, 83%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 7% 81%, hsla(213.08823529411774, 91%, 80%, 1) 16%, transparent 53%), radial-gradient(circle at 5% 1%, hsla(238, 76%, 61%, 1) 7%, transparent 84%), radial-gradient(circle at 39% 52%, hsla(187.9411764705882, 93%, 64%, 1) 6%, transparent 68%), radial-gradient(circle at 11% 29%, hsla(201, 97%, 75%, 1) 8%, transparent 74%), radial-gradient(circle at 90% 50%, hsla(182.64705882352945, 94%, 89%, 1) 2%, transparent 85%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal;
}

.bg-meshRainbow {
    background-color: hsla(79, 98%, 66%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 94% 95%, hsla(170, 88%, 68%, 1) 3%, transparent 76%), radial-gradient(circle at 89% 34%, hsla(263, 96%, 51%, 1) 1%, transparent 86%), radial-gradient(circle at 86% 50%, hsla(318, 80%, 65%, 1) 7%, transparent 76%), radial-gradient(circle at 89% 79%, hsla(248, 76%, 53%, 1) 7%, transparent 87%), radial-gradient(circle at 15% 44%, hsla(4, 74%, 80%, 1) 15%, transparent 81%), radial-gradient(circle at 99% 20%, hsla(75, 88%, 92%, 1) 1%, transparent 68%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
}

.bg-meshPurple {
    background-color: hsla(259.00000000000006, 100%, 58%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1517 1517' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 100% 64%, hsla(45, 55%, 56%, 1) 1%, transparent 68%), radial-gradient(circle at 74% 91%, hsla(336.17647058823525, 54%, 73%, 1) 4%, transparent 77%);
    background-blend-mode: overlay, normal, normal;
}

.bg-meshYellow {
    background-color: hsla(250.1470588235294, 44%, 63%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1227 1227' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 98% 97%, hsla(59, 85%, 86%, 1) 15%, transparent 50.28756377877879%), radial-gradient(circle at 43% 92%, hsla(238, 38%, 78%, 1) 30.780839988590987%, transparent 69%), radial-gradient(circle at 95% 18%, hsla(1.0000000000000089, 81%, 89%, 1) 20%, transparent 80%), radial-gradient(circle at 72% 71%, hsla(197, 79%, 67%, 1) 11%, transparent 69%);
    background-blend-mode: overlay, normal, normal, normal, normal;
}

.bg-meshMagenta {
    background-color: hsla(120, 0%, 0%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 7% 84%, hsla(270, 100%, 48%, 0.88) 1%, transparent 85%), radial-gradient(circle at 68% 22%, hsla(38, 91%, 75%, 1) 15%, transparent 58%), radial-gradient(circle at 32% 53%, hsla(61, 84%, 73%, 1) 20%, transparent 61%), radial-gradient(circle at 100% 58%, hsla(247, 99%, 73%, 1) 7%, transparent 70%), radial-gradient(circle at 27% 44%, hsla(221.02941176470594, 73%, 66%, 1) 10%, transparent 81%), radial-gradient(circle at 28% 16%, hsla(5, 84%, 78%, 1) 15%, transparent 74%), radial-gradient(circle at 93% 14%, hsla(51, 89%, 79%, 1) 12%, transparent 88%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal;
}
.bg-meshGreen {
    background-color: hsla(79.05882352941177, 97%, 65%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 94% 95%, hsla(186.74999999999997, 100%, 31%, 1) 3%, transparent 76%), radial-gradient(circle at 86% 50%, hsla(318, 80%, 65%, 0) 7%, transparent 76%), radial-gradient(circle at 89% 79%, hsla(41.170212765957444, 100%, 63%, 1) 7%, transparent 87%), radial-gradient(circle at 15% 44%, hsla(3.947368421052618, 74%, 80%, 1) 15%, transparent 81%), radial-gradient(circle at 99% 20%, hsla(75, 88%, 92%, 1) 1%, transparent 68%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal;
}
/* Clip path */

.clip-rect-inset {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
