---
// Assets
import Cross from "@/components/assets/Cross.astro";
import StripesBG from "@/components/assets/StripesBG.astro";
import AlpineTailwind from "@/components/global/AlpineTailwind.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ComponentsShowcase from "@/components/landing/ComponentsShowcase.astro";
---

<BaseLayout>
  <section class="relative">
    <Wrapper variant="standard" class="pt-32 lg:pt-12 pb-12 relative">
      <div class="text-balance max-w-xl relative">
        <AlpineTailwind />
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tight text-base-900 dark:text-white mt-12 font-display"
        >
          Open Source Tailwind CSS &amp; Alpine JS UI Blocks
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-600 dark:text-base-400"
        >
          427 production-ready Tailwind CSS & Alpine.js blocks, released under
          the MIT license. Copy, fork, remix, and ship without restrictions
        </Text>
      </div>
    </Wrapper>
  </section>
  <ComponentsShowcase />
</BaseLayout>
