---
import Button from "@/components/fundations/buttons/Button.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const listItems = ["Revolutionizing communication", "Enhancing productivity"];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3">
      <div
        class="relative flex items-center justify-center h-full p-8 overflow-hidden text-center shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
      >
        <div>
          <img
            class="mx-auto h-14"
            src="/images/oxbow/oxbowLogo.png"
            alt="#_"
          />
          <Text
            tag="h3"
            variant="textXL"
            class="mt-24 font-medium text-zinc-900 dark:text-white"
          >
            Connect your app
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400 text-balance"
          >
            Connection secure, fast and easy. You can disconnect at any time.
          </Text>

          <Button size="sm" variant="muted" class="flex mx-auto mt-8 w-fit">
            See our integrations
          </Button>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img
          src="/widgets/sliders.svg"
          alt="#_"
          class="shadow size-full rounded-2xl"
        />
        <div
          class="relative flex items-center justify-center h-full p-8 overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
        >
          <ul
            class="text-base font-medium list-none space-y-1 text-zinc-900 dark:text-white"
            role="list"
          >
            {
              listItems.map((item, index) => (
                <li>
                  <div class="flex items-center  gap-2">
                    <CircleCheck class="text-blue-600" size="sm" />
                    <Text tag="span" variant="textSM">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden shadow lg:row-span-2 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
      >
        <div class="relative p-8">
          <Kicker> Connections </Kicker>
          <Text
            tag="h3"
            variant="textBase"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Effortless connections
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Instantly link your favorite apps and services for a seamless,
            unified experience.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/device.svg"
            alt=""
          />
        </div>
      </div>

      <div
        class="relative flex flex-col justify-between h-full overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:row-span-2"
      >
        <div class="relative p-8">
          <Kicker> Planning </Kicker>
          <Text
            tag="h3"
            variant="textBase"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Plan ahead
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Organize your day with smart scheduling and let automation handle
            the rest.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
      </div>
      <img
        src="/widgets/calendar.svg"
        class="object-cover shadow rounded-2xl size-full"
        alt=""
      />

      <div
        class="relative flex flex-col items-center justify-center p-8 overflow-hidden text-center shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl md:col-span-2 lg:py-20"
      >
        <div class="relative items-center text-balance">
          <Kicker> Collaboration </Kicker>
          <Text
            tag="h3"
            variant="displayMD"
            class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-white"
          >
            Work together, anywhere
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Collaborate in real time, share ideas, and keep your team in sync—no
            matter where you are.
          </Text>
          <div
            class="flex flex-wrap items-center justify-center mx-auto mt-8 gap-2"
          >
            <Button variant="accent" size="sm"> Get started </Button>
            <Button variant="muted" size="sm"> Learn more </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
