---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
//Icons
import Burger from "@/components/fundations/icons/Burger.astro";
import Search from "@/components/fundations/icons/Search.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
// Assets
import Logo from "@/components/assets/Logo.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
---

<header
  class="sticky top-0 z-10 flex flex-col gap-4 bg-beige dark:bg-base-950 px-8 py-4 lg:px-12 border-b border-base-200 dark:border-base-800"
>
  <div class="flex items-center justify-between gap-2 w-full">
    <a
      href="/"
      class="flex lg:hidden items-center gap-3 text-sm font-semibold uppercase tracking-wide text-base-900 dark:text-base-50"
    >
      <Logo class="h-6 dark:invert" />
      <span>Oxbowui</span>
    </a>
    <div class="relative z-0 focus-within:z-10 mt-2 w-62 hidden lg:flex">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <Search size="xs" class="text-base-400 dark:text-base-500" />
      </div>
      <input
        onclick="document.querySelector('ninja-keys').open()"
        placeholder="Search.."
        id="search-left"
        name="search-left"
        type="search"
        class="w-full block text-xs transition duration-300 ease-in-out leading-tight align-middle focus:z-10 pl-10 h-8 px-4 py-2 text-sm rounded-md bg-white border border-transparent text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-secondary-500 focus:ring-secondary-100 focus:ring-2 focus:outline-none shadow-sm dark:bg-base-800 dark:text-base-100 dark:ring-base-700 dark:placeholder-base-400 dark:focus:border-base-600 dark:focus:ring-secondary-500"
      />
    </div>
    <div
      class="flex items-center gap-2 justify-end w-full text-base-500 dark:text-base-400"
    >
      <Text
        tag="a"
        variant="textXS"
        href="https://lexingtonthemes.com"
        class="hover:text-base-600 dark:hover:text-beige font-medium"
        >Astro Templates</Text
      >
      <Text
        tag="a"
        variant="textXS"
        href="https://github.com/UnwrappedDesign/oxbow"
        class="hover:text-base-600 dark:hover:text-beige font-medium"
        >GitHub</Text
      >

      <ThemeToggle />
      <Button
        variant="muted"
        size="xs"
        iconOnly
        type="button"
        class="lg:hidden"
        data-docs-toggle
      >
        <Burger size="xs" slot="right-icon" />
        <span class="sr-only">Open navigation</span>
      </Button>
    </div>
  </div>
</header>
