---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="border-t border-zinc-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-zinc-200">
    <div
      class="relative flex flex-col justify-end p-8 overflow-hidden rounded-xl lg:pt-48 bg-linear-45 from-blue-1400 to-blue-1000"
    >
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-end">
        <div class="lg:col-span-3">
          <Text
            tag="h1"
            variant="displaySM"
            class="font-medium text-white lg:text-balance"
          >
            Get everything for $99. One-time payment. Lifetime access, updates,
            and support included.
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-zinc-200 lg:text-balance"
          >
            A single purchase gives you access to all current and future
            components—no subscriptions or hidden costs.
          </Text>
        </div>
      </div>

      <div class="flex lg:ml-auto">
        <Button
          gap="sm"
          size="base"
          variant="muted"
          href="/pricing"
          id="access-footer-cta"
        >
          Get full access
        </Button>
      </div>
    </div>
  </Wrapper>
</section>
